*.pyc
*.so
*.log
*.lock
!Modules/tbus/libtbus/*
.idea
!tools/SDKTool/bin/ActionSampler/vendor
src/ImgProc/Projects/Windows/UIRecognize/output
src/ImgProc/Projects/Windows/UIRecognize/packages
*.opensdf
*.sdf
*.v12.suo
*~
*.swp
*.dylib
*.o
*.a
*.pb.cc
*.pb.h
!tools/SDKTool/*
!tools/AIClient/*
!tools/AIClient_ubuntu16/*
tools/SDKTool/log/*.log*
tools/SDKTool/src/WrappedDeviceAPI/log/*
bin/*.so.*
src/ImgProc/Comm/ImgReg/ImgProcess/.deps/*
src/opencv-3.4.14/*
bin/UIRecognize
src/ImgProc/Comm/ImgReg/ImgProcess/.dirstamp
Modules/Json/lib/Linux/*.so.*
src/ImgProc/autom4te.cache/*
*.deps/*
*.dirstamp
bin/GameReg
**.Po
.vscode/settings.json
tools/SDKTool/src/modules/action_sampler/cfg/action.json
tools/SDKTool/project/LQ/data/ImitationModel/*.h5
Class_valid/
Class_train/
output/
project/
tools/AIClient/
src/AIClient/WrappedDeviceAPI/deviceAPI/mobileDevice/android/plugin/Platform_plugin/PlatformWeTest/demo/TcpSocketHandler.py
log/
.vscode/
tools/SDKTool/PlugIn/ai/UIAuto/ubuntu/DetectRefineNet/data/
tools/SDKTool/PlugIn/ai/UIAuto/windows/DetectRefineNet/data/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.zip